<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>May 31st, 9:30 am - 3:00 pm</td>  <td><a href="http://swcarpentry.github.io/shell-novice">The Unix Shell</a></td> </tr>
      <tr> <td>June 1st, 9:30 am - 1:00 pm</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder">Plotting and Programming in Python (Part 1)</a></td> </tr>
      <tr> <td>June 2nd, 9:30 am - 1:00 pm</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder">Plotting and Programming in Python (Part 2)</a></td> </tr>
      <tr> <td>June 7th, 9:30 am - 1:00 pm</td>  <td><a href="http://swcarpentry.github.io/git-novice">Version Control with Git</a></td> </tr>
      <tr> <td>END</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
